body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-height: 100vh;
}

/* using min and max to scale the div based on screen size */
.text-container {
    display: flex;
    --height: min(500px, 50%);
    --width: max(500px, 45%);
    /*font size for all screen sizes*/
    font-size: clamp(2rem, 5vw, 5rem);
    background-color: rgb(21, 66, 66);
    height: var(--height);
    width: var(--width);
    color: white;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
}